{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "ie >= 10"]
      },
      "modules": false
    }],
    "react",
    "stage-1",
    "stage-0"
  ],
  "plugins": ["transform-object-assign", "async-to-promises"]
}
